language: php

php:
  - 7.0
  - 7.1
  - 7.2

cache:
  directories:
    - $HOME/.composer/cache

services:
  - mysql

install:
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install --no-interaction --prefer-dist
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer require --no-interaction --prefer-dist --dev php-coveralls/php-coveralls

script: vendor/bin/phpunit --verbose --coverage-clover tests/logs/clover.xml

after_success: php vendor/bin/php-coveralls --verbose
